[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "dfk_commons"
version = "0.0.5"
authors = [
  { name="jtschuwirth", email="jtschuwirth@gmail.com" },
  { name="jeschuwirth", email="jeschuwirth@gmail.com" }
]
description = "A package for dfk common functions"
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/pypa/sampleproject"
