#sqFooter{
    text-align:center; 
    padding-top:10px; 
    border-top:solid 1px #dcdcdc;
}

.appNavBar{
    border-top: solid 1px #dcdcdc;
}
.excelBtn{
    background:rgb(29, 111, 66);
    color:white;
}

.site-menubar-unfold img#clusterImgSide {
    /* Your CSS styles for the <img> element when the <div> has class "open" */
    height: 15px !important;
}