.md-typeset .md-code__content {
  border-radius: 3mm;
}

.md-typeset figcaption {
  color: var(--md-default-fg-color--light);
}

.md-typeset figcaption.attribution {
  text-align: left;
  font-size: 0.75em;
  margin: unset;
  max-width: unset;
}
